/* edX.css */
/* Importar uma fonte: 1º Ir ao google fonts 2º Carregar no "+" da fonte que queremos 3º Abrir a seleção 4º Selecionar import 5º Copiar e colar*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}


header {
        
        margin-left: auto;
        margin-right: auto;
      
        
}

header.one {
       
        height: 64px;
        margin-top: 16px;
        box-shadow: 0 3px 5px #808080;
}

header.two {
        border-bottom: solid;
        padding-top: 20px;
}

div.container img {
    float: left;
    }
    
div.container nav.one {
    float: left;
    }

div.container nav.two {
    float: right;
    }

.container {
                margin-left:auto;
                margin-right: auto;
                width:1200px;
                overflow: hidden;
}

div.container {
                overflow: hidden;
                
                
}

nav.one li {
    float: left;
    list-style-type: none;
    padding-left: 20px;
    font-weight: bolder;
    
}

nav.one li a {
        color: #007DB8;
        text-decoration: none;
}

nav.two a {
        text-decoration: none;
        
}

a.one {
        color: black;
        font-weight: bold; 
}

a.two {
        background-color: #007DB8;
        color: white;
        font-weight: bold;
}

div.three {
            float: left;
            
}

div.four {
        float:left;
}

div.four h1 {
        margin-top: 0px;
        margin-left: 20px;
}

div.four p {
        width: 299px;
        margin-left: 20px;
        margin-bottom: 0px;
}

div.four a {
        margin-left: 10px;
}

div.five {
        float:right;
        
        font-style: white;
}

main header {
        overflow: hidden;
}

div.five p span {
        width: 160px;
}

span.one {
        display: block;
        text-align: center;
        margin-left: 15px;
        font-weight: bold;
}

span.two {
        
        text-align: center;
        font-weight: bold;
}

div.five a {
        width: 20px;
        text-decoration: none;
        color: white;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: green;
        font-weight: bold;
      
}

section.one {
        margin: 10px;
        
        
}

section.one h2 {
        margin-left: 10px;
}

section.one img {
        float: right;
        margin-top: 15px;
}

section.one p {
        float: left;
        width: 524px;
        margin-left: 10px;
}

section.two {
        margin-left: 20px;
}

main article section {
       
        overflow: hidden;
        
        
        
}



main.container article {
        border: solid;
        margin-right: 22px;
        margin-top: 30px;
        margin-left: 20px;
        float: left;
        width: 829px;
}

main.container aside {
        float: right;
}

aside ul {
        float: right;
}

main aside {
        overflow: hidden;
}
/*
div.container.nav {
            float: left;
}
main 

