/* helloworld.css */

h1 { font-size: 44px;
    color: darkgreen;
    }
abbr {
        padding:20px;
        border-bottom-style: dotted;
        margin: 30px;
        width: 500px;
        display: inline-block;
        }

a { text-decoration: none;
    background-color: red ;
    border-radius: 50px ;
    padding: 10px ;
    }